{% extends "AccountBundle::layout.html.twig" %}

{% block title %}{{ "profile.title.your_profile"|trans }} - {{ parent() }}{% endblock %}

{% block mainCaption %}{{ "account.title.caption"|trans }}{% endblock %}

{% macro inputWidget(input) %}
<li>
    <div class="form-group">
        <label for="exampleInputEmail1">
            {{ ("user."~input.vars.label)|trans }} <span class="required">*</span>
        </label>
        {{ form_widget(input,{"attr" : { class : "form-control", placeholder : ("user."~input.vars.label)|trans}}) }}
    </div>
</li>
{% endmacro %}

{% block content %}
    {{ form_start(form,{action : path("fos_user_profile_edit")}) }}
    <div class="my-account margin-top">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="title-box">
                    <h2 class="title">{{ "profile.dashboard.caption.account"|trans }}</h2>
                </div>

                <ul class="list-unstyled">
                    {% for input in [form.firstname, form.lastname, form.username, form.email] %}
                        {{ _self.inputWidget(input) }}
                    {% endfor %}
                </ul>

            </div>

            <div class="col-sm-6 col-md-6">
                <div class="title-box">
                    <h2 class="title">{{ "profile.dashboard.caption.password"|trans }}</h2>
                </div>

                <ul class="list-unstyled">
                    {% for input in [form.current_password] %}
                        {{ _self.inputWidget(input) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
                {#
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="title-box">
                    <h2 class="title">Dane do faktury</h2>
                </div>

                <ul class="list-unstyled">
                    {% for input in [form.invoice.company, form.invoice.nip] %}
                        {{ _self.inputWidget(input) }}
                    {% endfor %}
                </ul>

            </div>
        </div>
                #}
        <div class="buttons-box clearfix">
            <button class="btn btn-default">{{ "profile.dashboard.form.label.button_save"|trans }}</button>
            <span class="required"><b>*</b> {{ "profile.dashboard.form.required"|trans }}</span>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock content %}
