<!doctype html>
<html>
<head>
  <title>{% block title %}GyMan.pl - proste zarządzanie klubami sportowym{% endblock %}</title>
  <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">

  <link rel="shortcut icon" href="{{ asset("bundles/front/img/favicon.ico") }}">

{% block stylesheets %}

    {% stylesheets
        'bundles/front/css/buttons/social-icons.css'
        'bundles/front/css/font-awesome.min.css'
        'bundles/front/css/bootstrap.min.css'
        'bundles/front/css/jslider.css'
        'bundles/front/css/settings.css'
        'bundles/front/css/jquery.fancybox.css'
        'bundles/front/css/animate.css'
        'bundles/front/css/video-js.min.css'
        'bundles/front/css/morris.css'
        'bundles/front/css/royalslider/royalslider.css'
        'bundles/front/css/royalslider/skins/minimal-white/rs-minimal-white.css'
        'bundles/front/css/layerslider/layerslider.css'
        'bundles/front/css/ladda.min.css'
        'bundles/front/css/style.css'
        'bundles/front/css/responsive.css'
        'bundles/front/css/customizer/pages.css'
        'bundles/front/css/customizer/home-pages-customizer.css'
        'bundles/front/css/ie/ie.css'
        filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <link rel='stylesheet' href="{{ asset('bundles/front/css/ie/ie8.css') }}">
  <![endif]-->
</head>
<body class="fixed-header">
    <div class="page-box">
        <div class="page-box-content">

            {% include("::header.html.twig") %}

            {% block main %}
            <section id="main">
              <article class="content">
                  {% block body %}{% endblock %}
              </article>
            </section><!-- #main -->
            {% endblock main %}

        </div><!-- .page-box-content -->
    </div><!-- .page-box -->

{% include "::footer.html.twig" %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/bootstrap.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/price-regulator/jshashtable-2.1_src.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/price-regulator/jquery.numberformatter-1.2.3.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/price-regulator/tmpl.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/price-regulator/jquery.dependClass-0.1.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/price-regulator/draggable-0.1.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/price-regulator/jquery.slider.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/jquery.carouFredSel-6.2.1-packed.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/jquery.touchSwipe.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/jquery.elevateZoom-3.0.8.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/jquery.imagesloaded.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/jquery.appear.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/jquery.sparkline.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/jquery.easypiechart.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/jquery.easing.1.3.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/jquery.fancybox.pack.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/isotope.pkgd.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/jquery.knob.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/jquery.stellar.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/jquery.selectBox.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/jquery.royalslider.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/jquery.tubular.1.0.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/country.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/spin.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/ladda.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/masonry.pkgd.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/morris.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/raphael.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/video.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/pixastic.custom.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/livicons-1.3.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/layerslider/greensock.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/layerslider/layerslider.transitions.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/layerslider/layerslider.kreaturamedia.jquery.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/revolution/jquery.themepunch.plugins.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/revolution/jquery.themepunch.revolution.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/front/js/main.js") }}"></script>

    <script src="//cdn.ravenjs.com/1.1.2/jquery,native/raven.min.js"></script>

    {% include ("::javascripts.html.twig") %}
{% endblock %}

</body>
</html>