{% block javascripts %}
<script type="text/javascript" src="{{ asset("http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/bootstrap.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/price-regulator/jshashtable-2.1_src.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/price-regulator/jquery.numberformatter-1.2.3.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/price-regulator/tmpl.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/price-regulator/jquery.dependClass-0.1.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/price-regulator/draggable-0.1.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/price-regulator/jquery.slider.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/jquery.carouFredSel-6.2.1-packed.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/jquery.touchSwipe.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/jquery.elevateZoom-3.0.8.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/jquery.imagesloaded.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/jquery.appear.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/jquery.sparkline.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/jquery.easypiechart.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/jquery.easing.1.3.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/jquery.fancybox.pack.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/isotope.pkgd.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/jquery.knob.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/jquery.stellar.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/jquery.selectBox.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/jquery.royalslider.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/jquery.tubular.1.0.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/country.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/spin.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/ladda.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/masonry.pkgd.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/morris.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/raphael.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/video.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/pixastic.custom.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/livicons-1.3.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/layerslider/greensock.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/layerslider/layerslider.transitions.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/layerslider/layerslider.kreaturamedia.jquery.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/revolution/jquery.themepunch.plugins.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/revolution/jquery.themepunch.revolution.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/front/js/main.js") }}"></script>

<script src="//cdn.ravenjs.com/1.1.2/jquery,native/raven.min.js"></script>
{% endblock javascripts %}

<script>
    $(function() {
        Raven.config('http://2612ed484bd84fd9bf05fa1adc8d507a@sentry.uirapu.ru/4', {
            whitelistUrls: [/gyman\.pl/]
        }).install();

        window.onerror = Raven.process
    });
</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u = (("https:" == document.location.protocol) ? "https" : "http") + "://piwik.uirapu.ru/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.defer = true;
        g.async = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<noscript><p><img src="http://piwik.uirapu.ru/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52219507-1', 'gyman.pl');
  ga('send', 'pageview');

</script>