{% extends "FrontBundle::layout.html.twig" %}

{% block title %}Strona główna - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("/components/prettyPhoto/js/jquery.prettyPhoto.js") }}"></script>
    <script>
        $(function() {
            $("a[rel^='prettyPhoto']").prettyPhoto({
                social_tools: false,
                allow_resize: true,
                show_title: false,
                markup: '<div class="pp_pic_holder"> \
                            <div class="ppt">&nbsp;</div> \
                            <div class="pp_top"> \
                                    <div class="pp_left"></div> \
                                    <div class="pp_middle"></div> \
                                    <div class="pp_right"> \
                                            <a class="pp_close" href="#" style="z-index: 999">Close</a> \
                                    </div> \
                            </div> \
                            <div class="pp_content_container"> \
                                    <div class="pp_left"> \
                                    <div class="pp_right"> \
                                            <div class="pp_content"> \
                                                    <div class="pp_loaderIcon"></div> \
                                                    <div class="pp_fade"> \
                                                            <div class="pp_hoverContainer"> \
                                                                    <a class="pp_next" href="#">next</a> \
                                                                    <a class="pp_previous" href="#">previous</a> \
                                                            </div> \
                                                            <div id="pp_full_res"></div> \
                                                            <div class="pp_details"> \
                                                                    <p class="pp_description"></p> \
                                                                    {pp_social} \
                                                            </div> \
                                                    </div> \
                                            </div> \
                                    </div> \
                                    </div> \
                            </div> \
                            <div class="pp_bottom"> \
                                    <div class="pp_left"></div> \
                                    <div class="pp_middle"></div> \
                                    <div class="pp_right"> \
                                        <a href="#" class="pp_expand" title="Expand the image">Expand</a> \
                                    </div> \
                            </div> \
                    </div> \
                    <div class="pp_overlay"></div>',
            });
        });
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("/components/prettyPhoto/css/prettyPhoto.css") }}" />
{% endblock stylesheets %}

{% block main %}
    {% include("FrontBundle::slider.html.twig") %}
    {{ parent() }}
{% endblock main %}

{% block body %}

    <!-- opis funkcji -->
    <div class="row">
        <div class="col-md-12">
            <div class="banner-set load">
                <div class="container">
                    <div class="title-box">
                        <h1 class="title">{{ "frontpage.captions.in_short"|trans }}</h1>
                    </div>
                        {% set slider = [
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.only_internet.title", "desc":"frontpage.what_offers.only_internet.description" },
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.do_it_yourself.title", "desc":"frontpage.what_offers.do_it_yourself.description" },
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.vouchers.title", "desc":"frontpage.what_offers.vouchers.description" },
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.camera.title", "desc":"frontpage.what_offers.camera.description" },
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.employees.title", "desc":"frontpage.what_offers.employees.description" },
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.members.title", "desc":"frontpage.what_offers.members.description" },
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.teams.title", "desc":"frontpage.what_offers.teams.description" },
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.multiple_clubs.title", "desc":"frontpage.what_offers.multiple_clubs.description" },
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.reports.title", "desc":"frontpage.what_offers.reports.description" },
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.payment.title", "desc":"frontpage.what_offers.payment.description" },
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.from_home.title", "desc":"frontpage.what_offers.from_home.description" },
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.mobile.title", "desc":"frontpage.what_offers.mobile.description" },
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.freedata.title", "desc":"frontpage.what_offers.freedata.description" },
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.notices.title", "desc":"frontpage.what_offers.notices.description" },
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.homepage.title", "desc":"frontpage.what_offers.homepage.description" },
                { "fig" : "http://placehold.it/253x158", "title" : "frontpage.what_offers.calendar.title", "desc":"frontpage.what_offers.calendar.description" },
                
            ] %}
                    <div class="banners">
                        {% for item in slider %}
                            <a href="#" class="banner">
                                <img src="{{ item.fig }}" width="253" height="158" alt="">
                                <h2 class="title">{{ item.title|trans }}</h2>
                                <div class="description">{{ item.desc|trans }}</div>
                            </a>
                        {% endfor %}
                    </div><!-- .banners -->
                    <div class="clearfix"></div>
                </div>
                <div class="nav-box">
                    <div class="container">
                        <a class="prev" href="#"><span class="glyphicon glyphicon-arrow-left"></span></a>
                        <div class="pagination switches"></div>
                        <a class="next" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>	
                    </div>
                </div>
            </div><!-- .banner-set -->

            <div class="clearfix"></div>
        </div>
    </div>
    <!-- opis funkcji -->

    <div class="container">
        <div class="title-box">
            <h1 class="title">{{ "frontpage.captions.about_us"|trans }}</h1>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 bottom-padding">
                <p class="lead"><strong>{{ "frontpage.paragraphs.about_us_1"|trans }}</strong></p>
                <p>{{ "frontpage.paragraphs.about_us_2"|trans }}</p>
                <p>{{ "frontpage.paragraphs.about_us_3"|trans }}</p>
            </div>
            <div class="col-md-6">
                <div id="screenshots-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->

                    {% set screenshots = {
                    1 : { "src" : "add_event.png", "title" : "Dodawanie nowego eventu" },
                    2 : { "src" : "calendar.png", "title" : "Kalendarz" },
                    3 : { "src" : "dashboard.png", "title" : "Dashboard" },
                    4 : { "src" : "entry_add.png", "title" : "Dodawanie nowego wejścia" },
                    5 : { "src" : "member_edit.png", "title" : "Edycja uczestnika" },
                    6 : { "src" : "members.png", "title" : "Lista uczestników" },
                    7 : { "src" : "members_2.png", "title" : "Lista uczestników ze szczegółami" },
                    8 : { "src" : "navigation.png", "title" : "Nawigacja po serwisie" },
                } %}

                    <ol class="carousel-indicators">
                        {% for img in screenshots %}
                            <li data-target="#screenshots-carousel" data-slide-to="{{ loop.index }}" {% if loop.index == 1 %} class="active"{% endif %}></li>
                            {% endfor %}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for img in screenshots %}
                            <div class="item{% if loop.index == 1 %} active{% endif %}">
                                <a rel="prettyPhoto[screenshots]" href="{{ "/bundles/front/img/screenshots/" ~ asset(img.src) }}" title="{{ img.title }}">
                                    <img src="{{ "/bundles/front/img/screenshots/" ~ asset(img.src) }}" alt="{{ img.title }}" />
                                </a>
                                {#                        <div class="carousel-caption">
                                                            {{ loop.index }}. {{ img.title }}
                                                        </div>#}
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#screenshots-carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#screenshots-carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>



    {% endblock %}