{% extends "FrontBundle::layout.html.twig" %}
{% block title %}{{ "pricing.page_title"|trans }} - {{ parent() }}{% endblock %}


{% block main %}
    <section id="main">
        <article class="content">
            <header class="page-header">
                <div class="container">
                    <h1 class="title">{{ "pricing.caption.register_account"|trans }}</h1>
                </div>	
            </header>
            <div class="container">
                <div class="row">

                    <div class="full-width-box bottom-padding cm-padding-bottom-36">
                        <div class="fwb-bg fwb-fixed band-1"><div class="overlay"></div></div>

                        <div class="container">
                            <div class="row text-center">
                               
                                <div class="col-sm-6 col-md-4 col-lg-3 col-md-offset-1">
                                    <div class="pricing prising-info">
                                        <div class="title"><a href="#">{{ "pricing.plan.free.caption"|trans }}</a></div>
                                        <div class="price-box">
                                            <div class="price">0 PLN</div>
                                        </div>
                                        <ul class="options">
                                            <li><span><i class="fa fa-check"></i></span>Aplikacja mobilna</li>
                                            <li class="active"><span><i class="fa fa-check"></i></span>Dla jednego klubu</li>
                                            <li class="active"><span><i class="fa fa-check"></i></span>Przedłużaj co miesiąc</li>
                                            <li><span><i class="fa fa-check"></i></span>Eksport danych</li>
                                            <li class="active"><span><i class="fa fa-check"></i></span>Dostęp dla pracowników</li>
                                            <li><span><i class="fa fa-check"></i></span>Mailing</li>
                                            <li><span><i class="fa fa-check"></i></span>Powiadamianie sms</li>
                                        </ul>
                                        <div class="bottom-box">
                                            <a class="more" href="#">czytaj więcej <span class="fa fa-angle-right"></span></a>
                                            <div class="rating-box">
                                                <div class="rating" style="width: 80%">
                                                    <svg xml:space="preserve" enable-fwb-bg="new 0 0 73 12" viewBox="0 0 73 12" height="12px" width="73px" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                                        <polygon points="6.5,0 8,5 13,5 9,7.7 10,12 6.5,9.2 3,12 4,7.7 0,5 5,5" fill="#1e1e1e" clip-rule="evenodd" fill-rule="evenodd"/>
                                                        <polygon points="66.5,0 68,5 73,5 69,7.7 70,12 66.5,9.2 63,12 64,7.7 60,5 65,5 " fill="#1e1e1e" clip-rule="evenodd" fill-rule="evenodd"/>
                                                        <polygon points="21.5,0 23,5 28,5 24,7.7 25,12 21.5,9.2 18,12 19,7.7 15,5 20,5 " fill="#1e1e1e" clip-rule="evenodd" fill-rule="evenodd"/>
                                                        <polygon points="51.5,0 53,5 58,5 54,7.7 55,12 51.5,9.2 48,12 49,7.7 45,5 50,5 " fill="#1e1e1e" clip-rule="evenodd" fill-rule="evenodd"/>
                                                        <polygon points="36.5,0 38,5 43,5 39,7.7 40,12 36.5,9.2 33,12 34,7.7 30,5 35,5 " fill="#1e1e1e" clip-rule="evenodd" fill-rule="evenodd"/>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <a href="{{ path("frontpage_register",{"type" : "free"}) }}" class="btn btn-info btn-lg">Załóż darmowe konto</a>
                                        </div>
                                    </div><!-- .pricing -->
                                </div>

                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="pricing pricing-success">
                                        <div class="title"><a href="#">{{ "pricing.plan.monthly.caption"|trans }}</a></div>
                                        <div class="price-box">
                                            <div class="price">100 PLN<span>/miesiąc</span></div>
                                        </div>
                                        <ul class="options">
                                            <li class="active"><span><i class="fa fa-check"></i></span>Aplikacja mobilna</li>
                                            <li class="active"><span><i class="fa fa-check"></i></span>Wiele klubów i sekcji</li>
                                            <li class="active"><span><i class="fa fa-check"></i></span>Przedłużaj co miesiąc</li>
                                            <li class="active"><span><i class="fa fa-check"></i></span>Eksport danych</li>
                                            <li class="active"><span><i class="fa fa-check"></i></span>Dostęp dla pracowników</li>
                                            <li class="active"><span><i class="fa fa-check"></i></span>Mailing</li>
                                            <li class="active"><span><i class="fa fa-check"></i></span>Powiadamianie sms</li>
                                        </ul>
                                        <div class="bottom-box">
                                            <a class="more" href="#">czytaj więcej <span class="fa fa-angle-right"></span></a>
                                            <div class="rating-box">
                                                <div class="rating" style="width: 80%">
                                                    <svg xml:space="preserve" enable-fwb-bg="new 0 0 73 12" viewBox="0 0 73 12" height="12px" width="73px" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                                        <polygon points="6.5,0 8,5 13,5 9,7.7 10,12 6.5,9.2 3,12 4,7.7 0,5 5,5" fill="#1e1e1e" clip-rule="evenodd" fill-rule="evenodd"/>
                                                        <polygon points="66.5,0 68,5 73,5 69,7.7 70,12 66.5,9.2 63,12 64,7.7 60,5 65,5 " fill="#1e1e1e" clip-rule="evenodd" fill-rule="evenodd"/>
                                                        <polygon points="21.5,0 23,5 28,5 24,7.7 25,12 21.5,9.2 18,12 19,7.7 15,5 20,5 " fill="#1e1e1e" clip-rule="evenodd" fill-rule="evenodd"/>
                                                        <polygon points="51.5,0 53,5 58,5 54,7.7 55,12 51.5,9.2 48,12 49,7.7 45,5 50,5 " fill="#1e1e1e" clip-rule="evenodd" fill-rule="evenodd"/>
                                                        <polygon points="36.5,0 38,5 43,5 39,7.7 40,12 36.5,9.2 33,12 34,7.7 30,5 35,5 " fill="#1e1e1e" clip-rule="evenodd" fill-rule="evenodd"/>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <a href="{{ path("frontpage_register",{"type" : "monthly"}) }}" class="btn btn-success btn-lg">Opłać miesięczny dostęp</a>
                                        </div>
                                    </div><!-- .pricing -->
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="pricing pricing-error">
                                        <div class="title"><a href="#">{{ "pricing.plan.yearly.caption"|trans }}</a></div>
                                        <div class="price-box">
                                            <div class="price">999 PLN<span>/rok</span></div>
                                        </div>
                                        <ul class="options">
                                            <li class="active"><span><i class="fa fa-check"></i></span>Aplikacja mobilna</li>
                                            <li class="active"><span><i class="fa fa-check"></i></span>Wiele klubów i sekcji</li>
                                            <li><span><i class="fa fa-check"></i></span>Przedłużaj co miesiąc</li>
                                            <li class="active"><span><i class="fa fa-check"></i></span>Eksport danych</li>
                                            <li class="active"><span><i class="fa fa-check"></i></span>Dostęp dla pracowników</li>
                                            <li class="active"><span><i class="fa fa-check"></i></span>Mailing</li>
                                            <li class="active"><span><i class="fa fa-check"></i></span>Powiadamianie sms</li>
                                        </ul>
                                        <div class="bottom-box">
                                            <a class="more" href="#">czytaj więcej <span class="fa fa-angle-right"></span></a>
                                            <div class="rating-box">
                                                <div class="rating" style="width: 80%">
                                                    <svg xml:space="preserve" enable-fwb-bg="new 0 0 73 12" viewBox="0 0 73 12" height="12px" width="73px" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                                        <polygon points="6.5,0 8,5 13,5 9,7.7 10,12 6.5,9.2 3,12 4,7.7 0,5 5,5" fill="#1e1e1e" clip-rule="evenodd" fill-rule="evenodd"/>
                                                        <polygon points="66.5,0 68,5 73,5 69,7.7 70,12 66.5,9.2 63,12 64,7.7 60,5 65,5 " fill="#1e1e1e" clip-rule="evenodd" fill-rule="evenodd"/>
                                                        <polygon points="21.5,0 23,5 28,5 24,7.7 25,12 21.5,9.2 18,12 19,7.7 15,5 20,5 " fill="#1e1e1e" clip-rule="evenodd" fill-rule="evenodd"/>
                                                        <polygon points="51.5,0 53,5 58,5 54,7.7 55,12 51.5,9.2 48,12 49,7.7 45,5 50,5 " fill="#1e1e1e" clip-rule="evenodd" fill-rule="evenodd"/>
                                                        <polygon points="36.5,0 38,5 43,5 39,7.7 40,12 36.5,9.2 33,12 34,7.7 30,5 35,5 " fill="#1e1e1e" clip-rule="evenodd" fill-rule="evenodd"/>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <a href="{{ path("frontpage_register",{"type" : "yearly"}) }}" class="btn btn-danger btn-lg">Opłać roczny dostęp</a>
                                        </div>
                                    </div><!-- .pricing -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>

{% endblock main %}