{% extends "AccountBundle::loginLayout.html.twig" %}

{% block fos_user_content %}

<form class="form-content login-form" action="{{ path("fos_user_security_check") }}" method="POST" class="fos_user_security_login">
    <h3 class="title">{{ "account.login.header_link_login"|trans }}
        <small>{{ "account.login.header_or"|trans }}
            <a href="{{ path('fos_user_registration_register') }}" class="sign-in">{{ "account.login.header_link_register"|trans }}</a>
        </small>
    </h3>
        
    <p>{{ "account.login.caption"|trans }}</p>
    
    {% if error %}
    <div class="alert alert-danger fade in ">
        <i class="fa fa-envelope alert-icon"></i>
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>{{ "account.login.there_were_errors"|trans }}</strong>
        <ul>
            <li>{{ error|trans }}</li>
        </ul>
    </div>
    {% endif %}
    
    <label>{{ "account.login.label.username"|trans }}: <span class="required">*</span></label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control"/>

    <label>{{ "account.login.label.password"|trans }}: <span class="required">*</span></label>
    <input type="password" id="password" name="_password" required="required" class="form-control" />

    <div class="checkbox">
      <label class="">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ "account.login.remember_me"|trans }}
      </label>
    </div>
      
        
    <div class="buttons-box clearfix">
      <button name="_submit" type="submit" class="btn btn-default">{{ "account.login.label.submit"|trans }}</button>
      <a class="forgot" href="{{ path("fos_user_resetting_request") }}">{{ "account.login.password_recovery"|trans }}</a>
      <span class="required"><b>*</b> {{ "account.login.required_info"|trans }}</span>
    </div>
    
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
</form>
{% endblock fos_user_content %}
