<!doctype html>
<html>
<head>
  <title>{% block title %}GyMan.pl - proste zarządzanie klubami sportowym{% endblock %}</title>
  <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">

  <link rel="shortcut icon" href="{{ asset("bundles/front/img/favicon.ico") }}?v={{ "now"|date("U") }}">
  
  {% include ("::stylesheets.html.twig") %}
</head>
<body class="fixed-header hidden-top">
<div class="page-box">
<div class="page-box-content">
  
<div id="top-box">
  <div class="container">
	<div class="row">
	  <div class="col-xs-9 col-sm-6">
		<div class="btn-group language btn-select">
		  <a class="btn dropdown-toggle btn-default" role="button" data-toggle="dropdown" href="#">
			<span class="hidden-xs">Language</span><span class="visible-xs">Lang</span><!-- 
			-->: English
			<span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
			<li><a href="#"><img src="{{ asset("/bundles/front/img/eng-flag.png") }}" alt="">English</a></li>
			<li><a href="#"><img src="{{ asset("/bundles/front/img/eng-flag.png") }}" alt="">Polski</a></li>
		  </ul>
		</div>
		<div class="btn-group currency btn-select">
		  <a class="btn dropdown-toggle btn-default" role="button" data-toggle="dropdown" href="#">
			<span class="hidden-xs">Currency</span><span class="visible-xs">Curr</span><!--
			-->: USD
			<span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
			<li><a href="#">USD</a></li>
			<li><a href="#">EUR</a></li>
			<li><a href="#">GBP</a></li>
		  </ul>
		</div>
	  </div>
	  
	  <div class="col-xs-3 col-sm-6">
		<div class="navbar navbar-inverse top-navbar top-navbar-right" role="navigation">
		  <button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target=".top-navbar .navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>

		  <nav class="collapse collapsing navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
			  <li><a href="account.html">My Account</a></li>
			  <li><a href="#">My Wishlist</a></li>
			  <li><a href="#">Checkout</a></li>
			  <li><a href="#">Log in</a></li>
			</ul>
		  </nav>
		</div>
	  </div>
	</div>
  </div>
</div><!-- #top-box -->

{% include("::header.html.twig") %}

<div class="breadcrumb-box breadcrumb-none"></div>

<section id="main" class="page ">
  <header class="page-header">
    <div class="container">
      <h1 class="title">Edit Account Information</h1>
    </div>	
  </header>
  <div class="container">
    <div class="row">
      <article class="col-sm-9 col-md-9 content">
		<div class="my-account margin-top">
		  <div class="row">
			<div class="col-sm-6 col-md-6">
			  <div class="title-box">
				<h2 class="title">Account Information</h2>
			  </div>
			  
			  <ul class="list-unstyled">
				<li>
				  <div class="form-group">
					<label for="exampleInputEmail1">First Name <span class="required">*</span></label>
					<input type="text" class="form-control" placeholder="Mr.">
				  </div>
				  <div class="form-group">
					<label for="exampleInputEmail1">Last Name <span class="required">*</span></label>
					<input type="text" class="form-control" placeholder="Alen">
				  </div>
				</li>
				<li>
				  <div class="form-group">
					<label for="exampleInputEmail1">Email Address <span class="required">*</span></label>
					<input type="email" class="form-control" placeholder="mr-alen@example.com">
				  </div>
				</li>
			  </ul>
			</div>
			
			<div class="col-sm-6 col-md-6">
			  <div class="title-box">
				<h2 class="title">Change Password</h2>
			  </div>
			  
			  <ul class="list-unstyled">
				<li>
				  <div class="form-group">
					<label for="exampleInputEmail1">Current Password <span class="required">*</span></label>
					<input type="password" class="form-control">
				  </div>
				  <div class="form-group">
					<label for="exampleInputEmail1">New Password <span class="required">*</span></label>
					<input type="password" class="form-control">
				  </div>
				</li>
				<li>
				  <div class="form-group">
					<label for="exampleInputEmail1">Confirm New Password <span class="required">*</span></label>
					<input type="password" class="form-control">
				  </div>
				</li>
			  </ul>
			</div>
		  </div>
		  <div class="buttons-box clearfix">
			<button class="btn btn-default">Save</button>
			<span class="required"><b>*</b> Required Field</span>
		  </div>
		</div>
      </article><!-- .content -->
	  
	  <div id="sidebar" class="sidebar col-sm-3 col-md-3">
		<aside class="widget menu">
		  <header>
			<h3 class="title">My Account</h3>
		  </header>
		  <nav>
                    {{ knp_menu_render('AccountBundle:Builder:navigation', {
                        'template': 'AccountBundle::navigation.html.twig',
                        'currentAsLink' : true,
                        'depth' : 2,
                    }) }}
		  </nav>
		</aside><!-- .menu-->
	  </div>
    </div>
  </div>
</section><!-- #main -->

</div><!-- .page-box-content -->
</div><!-- .page-box -->


    {% include ("::footer.html.twig") %}
    {% include ("::javascripts.html.twig") %}
    
</body>
</html>